@font-face {
  font-family: "NHaasGroteskDSPro-55Rg";
  src: url("/fonts/NHaasGroteskDSPro-55Rg.eot");
  /* IE9 Compat Modes */
  src: url("/fonts/NHaasGroteskDSPro-55Rg.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */
    url("/fonts/NHaasGroteskDSPro-55Rg.otf") format("opentype"),
    /* Open Type Font */
    url("/fonts/NHaasGroteskDSPro-55Rg.svg") format("svg"),
    /* Legacy iOS */
    url("/fonts/NHaasGroteskDSPro-55Rg.ttf") format("truetype"),
    /* Safari, Android, iOS */
    url("/fonts/NHaasGroteskDSPro-55Rg.woff") format("woff"),
    /* Modern Browsers */
    url("/fonts/NHaasGroteskDSPro-55Rg.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}